---
name: "tag-release-build"

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  tag-release-lib-build:
    name: "tag-release-lib-build"
    runs-on: "ubuntu-latest"
    strategy:
      matrix:
        rust: [stable]
        TARGET:
          - x86_64-unknown-linux-gnu

    steps:
      - name: "Checkout"
        uses: actions/checkout@v2

      - name: "Toolchain setup"
        uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: ${{ matrix.rust }}
          target: ${{ matrix.TARGET }}
          override: true

      - name: "Build"
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --release

      - name: "Publish to crates.io"
        env:
          CARGO_REGISTRY_TOKEN: "${{ secrets.CRATES_TOKEN }}"
        uses: actions-rs/cargo@v1
        with:
          command: publish
          args: -p snapcraft

  # Kick off the workflow for the creation of the snapcraft example
  tag-release-example-init:
    name: "Initiate release of the snapcraft example application"
    runs-on: ubuntu-latest
    needs: [tag-release-lib-build]
    steps:
      - name: "Repository Dispatch"
        uses: benc-uk/workflow-dispatch@v1
        with:
          token: ${{ secrets.PAT }}
          repo: a1ecbr0wn/snapcraft
          ref: refs/heads/main
          workflow: release-example.yml
          inputs: '{ "version": "${{ github.ref_name }}" }'
